{%extends "base.html"%}
{%load static%}




    <!--====== HEADER PART ENDS ======-->

    <!--====== BANNER PART START ======-->
    {%block content%}
    
   
    
    <section class="page-title-area bg_cover" style="background-image: url(static/assets/images/page-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h3 class="title">About Us</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== ABOUT PART START ======-->
    
    <section class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-thumb">
                        <img src="{% static 'assets/images/about-thumb.png ' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-content">
                        <img src="{% static 'assets/images/shape/title-shape-3.png ' %}" alt="shape">
                        <h4 class="title">Welcome to top <span>Rondhon</span> where the food change  woth the seasons</h4>
                        <p>Aenean sed lorem est. Sed quis neque ut nibh suscipit imperdiet ac non augue. Aenean ornare sit amet lectus non tristique. Nunc ut volutpat lectus. Nulla velit augue, pulvinar sed nisi sit amet.</p>
                        <ul>
                            <li><i class="fas fa-check"></i>Sed a nibh et purus aliquam imperdiet.</li>
                            <li><i class="fas fa-check"></i>Cras maximus ex ut purus auctor hendrerit.</li>
                            <li><i class="fas fa-check"></i>Fusce in leo eu ex aliquet volutpat.</li>
                        </ul>
                        <a class="main-btn" href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== ABOUT PART ENDS ======-->

    <!--====== HOW IT WORK PART START ======-->
    
    <section class="how-it-work-area how-it-work-2-area pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="how-it-work-box">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="section-title text-center">
                                    <img src="{% static 'assets/images/shape/title-shape-3.png ' %}" alt="title">
                                    <h3 class="title">How it work</h3>
                                    <p>The Process of our service</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-8">
                                <div class="how-it-work-item mt-30">
                                    <a href="#"><h4 class="title"><img src="{% static 'assets/images/icon/icon-1.png ' %}" alt=""> Choose Restaurant</h4></a>
                                    <p>Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8">
                                <div class="how-it-work-item mt-30">
                                    <a href="#"><h4 class="title"><img src="{% static 'assets/images/icon/icon-2.png ' %}" alt=""> Select, you love to eat</h4></a>
                                    <p>Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8">
                                <div class="how-it-work-item mt-30">
                                    <a href="#"><h4 class="title"><img src="{% static 'assets/images/icon/icon-3.png ' %}" alt=""> Pickup or delivery</h4></a>
                                    <p>Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== HOW IT WORK PART ENDS ======-->

    <!--====== ABOUT SUB PART START ======-->
    
    <section class="about-sub-area pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-sub mt-30">
                        <img src="{% static 'assets/images/about-sub-1.jpg ' %}" alt="">
                        <div class="about-sub-item">
                            <h3 class="title">Become a Volunteer </h3>
                            <a href="#"><i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-sub item-2 mt-30">
                        <img src="{% static 'assets/images/about-sub-2.jpg ' %}" alt="">
                        <div class="about-sub-item">
                            <h3 class="title">Add Your Restaurant </h3>
                            <a href="#"><i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== ABOUT SUB PART ENDS ======-->

    <!--====== SERVICES PART START ======-->
    
    <section class="services-area pt-120 pb-150">
        <div class="container custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-9">
                    <div class="services-item text-center mt-30">
                        <i class="fas fa-motorcycle"></i>
                        <h3 class="title">Fast Delivery in 1 Hour</h3>
                        <p>Online ordering allows customers to order anytime anywhere using their handheld devices.  there is no need forthe customer to reachout and make a call in restaurants.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-9">
                    <div class="services-item text-center mt-30">
                        <i class="fas fa-mobile-android"></i>
                        <h3 class="title">Amazing Website App</h3>
                        <p>online ordering allows customer to order anytime anywhere using their handheld devices.there is no need to reachout and make a call to restaurants  .</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-9">
                    <div class="services-item text-center mt-30">
                        <i class="fas fa-map-marked"></i>
                        <h3 class="title">Wide Coverage Map</h3>
                        <p>We are keep tracking your order to reach in time.  for safe and secure delivery .</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-9">
                    <div class="services-item text-center mt-30">
                        <i class="fas fa-user-secret"></i>
                        <h3 class="title">More Than 150 Couriers </h3>
                        <p>we are providing testy and quality food for customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== SERVICES PART ENDS ======-->

    <!--====== CLIENT PART START ======-->
    
    <section class="client-area bg_cover pt-150 pb-150" style="background-image: url(static/assets/images/client-bg.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="client-area-thumb-ltem">
                        <ul>
                            <li><img src="{% static 'assets/images/client-user-1.png ' %}" alt="user"></li>
                            <li><img src="{% static 'assets/images/client-user-2.png ' %}" alt="user"></li>
                            <li><img src="{% static 'assets/images/client-user-3.png ' %}" alt="user"></li>
                            <li><img src="{% static 'assets/images/client-user-2.png ' %}" alt="user"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-9 col-sm-9">
                    <div class="client-slide">
                        <div class="client-box">
                            <h4 class="title">Very Taste and Professional Behave </h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="user mt-40">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/user-1.png ' %}" alt="">
                                </div>
                                <span>Sakshi R. kopulwar</span>
                                <p>Food Lover Customer</p>
                            </div>
                        </div>
                        <div class="client-box">
                            <h4 class="title">Very Taste and Professional Behave </h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="user mt-40">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/user-2.png ' %}" alt="">
                                </div>
                                <span>Solochna Pise</span>
                                <p>Food Lover Customer</p>
                            </div>
                        </div>
                        <div class="client-box">
                            <h4 class="title">Very Taste and Professional Behave </h4>
                            <p>There are many variations of passages of facilities available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="user mt-40">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/user-3.png ' %}" alt="">
                                </div>
                                <span>Ritika R. Gautam</span>
                                <p>Food Lover Customer</p>
                            </div>
                        </div>
                        <div class="client-box">
                            <h4 class="title">Very Taste and Professional Behave </h4>
                            <p>There are many variations of passages of facilities available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="user mt-40">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/user-2.png ' %}" alt="">
                                </div>
                                <span>Roshni Malshettewar</span>
                                <p>Food Lover Customer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client-thumb">
            <img src="{% static 'assets/images/client-thumb.png ' %}" alt="">
        </div>
    </section>
    
    <!--====== CLIENT PART ENDS ======-->

    <!--====== INSTAGRAM PART START ======-->
    
    <div class="instagram-area">
        <div class="container-fluid p-0">
            <div class="row  no-gutters">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-1.jpg ' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-2.jpg ' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-3.jpg ' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-4.jpg ' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-5.jpg ' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-6.jpg ' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== INSTAGRAM PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    
    {%endblock%}