{%extends "base.html"%}
{%load static%}




    <!--====== HEADER PART ENDS ======-->

    <!--====== BANNER PART START ======-->
    {%block content%}
    
    <section class="page-title-area bg_cover" style="background-image: url(static/assets/images/pexels-adonyi-gabor-1414651.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h3 class="title">Contact Us</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== CONTACT INFO PART START ======-->
    
    <div class="contact-info-area pt-120 pb-150">
        <div class="container">
            <div class="row justify-content-lg-end justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="contact-info-item">
                        <div class="item mt-30">
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/contact-icon-1.png' %}" alt="">
                            </div>
                            <span>Visit Us</span>
                            <p>3184  Ben Street, <br>  Albany,  New Jersey, USA</p>
                        </div>
                        <div class="item mt-30">
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/contact-icon-2.png' %}" alt="">
                            </div>
                            <span>Email:</span>
                            <ul>
                                <li><a href="mailto:Sayhello@rondhon.com">Sayhello@rondhon.com</a></li>
                                <li><a href="mailto:Supprot@rondhon.com">Supprot@rondhon.com</a></li>
                            </ul>
                        </div>
                        <div class="item mt-30">
                            <div class="icon">
                                <img src="{% static 'assets/images/icon/contact-icon-3.png' %}" alt="">
                            </div>
                            <span>Phone:</span>
                            <ul>
                                <li><a href="tel:(025)055-2258">(025)055-2258</a></li>
                                <li><a href="tel:(025)055-2259">(025)055-2259</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-thumb">
            <img src="{% static 'assets/images/contact-thumb.jpg' %}" alt="">
        </div>
        <div class="contact-item">
            <img src="{% static 'assets/images/contact-info-item.png' %}" alt="">
        </div>
    </div>
    
    <!--====== CONTACT INFO PART ENDS ======-->

    <!--====== CONTACT PART START ======-->
    
    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <img src="{% static 'assets/images/shape/title-shape-3.png' %}" alt="">
                        <h3 class="title">Get Touch It</h3>
                    </div>
                    <div class="contact-box">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-box mt-25">
                                        <label for="#">Fill Name</label>
                                        <input type="text" placeholder="John">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-box mt-25">
                                        <label for="#">Email</label>
                                        <input type="email" placeholder="johndoe1997@gmail.com">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-box mt-25">
                                        <label for="#">Phone</label>
                                        <input type="text" placeholder="(457)914-4104">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-box mt-25">
                                        <label for="#">Subject</label>
                                        <input type="text" placeholder="Add to my Restaurant">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-box mt-25">
                                        <label for="#">Subject</label>
                                        <textarea name="#" id="#" cols="30" rows="10" placeholder="Start write here your message"></textarea>
                                        <button class="main-btn" type="submit">Submit Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-thumb">
            <img src="{% static 'assets/images/contact-thumb.png' %}" alt="">
        </div>
    </section>
    <div class="map-item">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29225.924796570132!2d90.45967325!3d23.703100600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1591799787088!5m2!1sen!2sbd" width="600" height="450"  style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    
    <!--====== CONTACT PART ENDS ======-->

    <!--====== INSTAGRAM PART START ======-->
    
    <div class="instagram-area">
        <div class="container-fluid p-0">
            <div class="row  no-gutters">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-1.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-2.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-3.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-4.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-5.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-6.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== INSTAGRAM PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    
    {%endblock%}