{%extends "base.html"%}
{%load static%}




    <!--====== HEADER PART ENDS ======-->

    <!--====== BANNER PART START ======-->
    {%block content%}
    
    <section class="page-title-area bg_cover" style="background-image: url(static/assets/images/page-bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h3 class="title">Gallery</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== GALLERY PART START ======-->
    
    <div class="gallery-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="gallery-top d-flex justify-content-center">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Italian</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Cheesy</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Fish & Seafood</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false">Vegeterian</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-1.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-1.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-2.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-2.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-3.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-3.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-4.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-4.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-5.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-5.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-6.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-6.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-7.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-7.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-8.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-8.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-9.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-9.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-1.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-1.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-2.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-2.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-3.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-3.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-4.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-4.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-5.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-5.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-6.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-6.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-7.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-7.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-8.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-8.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-9.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-9.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-1.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-1.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-2.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-2.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-3.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-3.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-4.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-4.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-5.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-5.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-6.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-6.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-7.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-7.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-8.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-8.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-9.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-9.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-1.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-1.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-2.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-2.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-3.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-3.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-4.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-4.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-5.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-5.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-6.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-6.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-7.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-7.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-8.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-8.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-item mt-30">
                                <img src="{% static 'assets/images/gallery-9.png' %}" alt="galley">
                                <div class="gallery-overlay">
                                    <a class="image-popup" href="{% static 'assets/images/gallery-9.png' %}"><i class="far fa-search-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== GALLERY PART ENDS ======-->

    <!--====== INSTAGRAM PART START ======-->
    
    <div class="instagram-area">
        <div class="container-fluid p-0">
            <div class="row  no-gutters">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-1.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-2.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-3.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-4.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-5.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-6.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== INSTAGRAM PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    
    {%endblock%}