{%extends "base.html"%}
{%load static%}




    <!--====== HEADER PART ENDS ======-->

    <!--====== BANNER PART START ======-->
    {%block content%}
    
  
    
    <section class="page-title-area bg_cover" style="background-image: url(static/assets/images/page-bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h3 class="title">Our Team</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Team</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== TEAM PROFESSIONALS PART START ======-->
    
    <section class="team-professionals-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <img src="{% static 'assets/images/shape/title-shape-3.png' %}" alt="title">
                        <h3 class="title">Team of Professionals</h3>
                        <p>All delicious pizza menu for pizza lovers</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="team-item mt-30">
                        <img src="{% static 'assets/images/team-professionals-1.png' %}" alt="">
                        <div class="team-heading">
                            <h3 class="title">Rose Holmes</h3>
                        </div>
                        <div class="team-overlay">
                            <img src="{% static 'assets/images/team-shape.png' %}" alt="">
                            <p>Aliquam in bibendum mauris. Sed  vitae erat vel velitlorem.</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="team-item mt-30">
                        <img src="{% static 'assets/images/team-professionals-2.png' %}" alt="">
                        <div class="team-heading">
                            <h3 class="title">Holmes Cook</h3>
                        </div>
                        <div class="team-overlay">
                            <img src="{% static 'assets/images/team-shape.png' %}" alt="">
                            <p>Aliquam in bibendum mauris. Sed  vitae erat vel velitlorem.</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="team-item mt-30">
                        <img src="{% static 'assets/images/team-professionals-3.png' %}" alt="">
                        <div class="team-heading">
                            <h3 class="title">Ronald Cook</h3>
                        </div>
                        <div class="team-overlay">
                            <img src="{% static 'assets/images/team-shape.png' %}" alt="">
                            <p>Aliquam in bibendum mauris. Sed  vitae erat vel velitlorem.</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== TEAM PROFESSIONALS PART ENDS ======-->

    <!--====== BRAND PART START ======-->
    
    <div class="brand-area">
        <div class="container-fluid">
            <div class="row brand-active">
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{% static 'assets/images/brand-1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{% static 'assets/images/brand-2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{% static 'assets/images/brand-3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{% static 'assets/images/brand-4.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{% static 'assets/images/brand-5.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{% static 'assets/images/brand-6.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="brand-item text-center">
                        <img src="{% static 'assets/images/brand-2.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== BRAND PART ENDS ======-->

    <!--====== TEAM PART START ======-->
    
    <section class="team-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <img src="{% static 'assets/images/shape/title-shape-3.png' %}" alt="title">
                        <h3 class="title">Team of Professionals</h3>
                        <p>All delicious pizza menu for pizza lovers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team-item mt-30 mb-30 text-center">
                        <img src="{% static 'assets/images/team-1.png' %}" alt=""><br>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <h4 class="title">Rose Holmes</h4>
                        <span>Head  Chef</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item mt-30 mb-30 text-center">
                        <img src="{% static 'assets/images/team-2.png' %}" alt=""><br>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <h4 class="title">Rose Holmes</h4>
                        <span>Head  Chef</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item mt-30 mb-30 text-center">
                        <img src="{% static 'assets/images/team-3.png' %}" alt=""><br>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <h4 class="title">Rose Holmes</h4>
                        <span>Head  Chef</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item mt-30 mb-30 text-center">
                        <img src="{% static 'assets/images/team-4.png' %}" alt=""><br>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <h4 class="title">Rose Holmes</h4>
                        <span>Head  Chef</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item mt-30 mb-30 text-center">
                        <img src="{% static 'assets/images/team-3.png' %}" alt=""><br>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <h4 class="title">Rose Holmes</h4>
                        <span>Head  Chef</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item mt-30 mb-30 text-center">
                        <img src="{% static 'assets/images/team-2.png' %}" alt=""><br>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <h4 class="title">Rose Holmes</h4>
                        <span>Head  Chef</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== TEAM PART ENDS ======-->

    <!--====== FUN FACTS PART START ======-->
    
    <div class="fun-facts-area team-fun-facts-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="fun-facts-item mt-30 text-center">
                        <h3 class="title odometer" data-count="275">00</h3>
                        <span>Daily Orders</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="fun-facts-item mt-30 text-center">
                        <h3 class="title odometer" data-count="925">00</h3>
                        <span>Active Restaurant</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="fun-facts-item mt-30 text-center">
                        <h3 class="title odometer" data-count="989">00</h3>
                        <span>Daily traffic</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="fun-facts-item mt-30 text-center">
                        <h3 class="title odometer" data-count="125">00</h3>
                        <span>Delivery Boy</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== FUN FACTS PART ENDS ======-->

    <!--====== BLOG PART START ======-->
    
    <section class="blog-area team-blog-area  pb-140">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <img src="{% static 'assets/images/shape/title-shape-2.png' %}" alt="title">
                        <h3 class="title">Latest from Blog</h3>
                        <p>The Process of our service</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="blog-item mt-30">
                        <div class="blog-thumb">
                            <img src="{% static 'assets/images/blog-1.jpg' %}" alt="blog">
                            <span>May 24, 2020</span>
                        </div>
                        <div class="blog-content">
                            <span>Fast  Food</span>
                            <a href="#"><h4 class="title">Air Fryer French Fries</h4></a>
                            <p>There are many variations of  passages of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="blog-item mt-30">
                        <div class="blog-thumb">
                            <img src="{% static 'assets/images/blog-2.jpg' %}" alt="blog">
                            <span>May 24, 2020</span>
                        </div>
                        <div class="blog-content">
                            <span>Fast  Food</span>
                            <a href="#"><h4 class="title">Layered Yogurt Flatbreads</h4></a>
                            <p>There are many variations of  passages of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="blog-item mt-30">
                        <div class="blog-thumb">
                            <img src="{% static 'assets/images/blog-3.jpg' %}" alt="blog">
                            <span>May 24, 2020</span>
                        </div>
                        <div class="blog-content">
                            <span>Fast  Food</span>
                            <a href="#"><h4 class="title">Any-kind-of-fruit Galette</h4></a>
                            <p>There are many variations of  passages of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== BLOG PART ENDS ======-->

    <!--====== INSTAGRAM PART START ======-->
    
    <div class="instagram-area">
        <div class="container-fluid p-0">
            <div class="row  no-gutters">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-1.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-2.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-3.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-4.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-5.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="instagram-item">
                        <img src="{% static 'assets/images/instagram-6.jpg' %}" alt="instagram">
                        <div class="instagram-overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== INSTAGRAM PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    {%endblock%}